* {
  font-family: 'Signika', sans-serif;
  background-color: #edf0da;
  color: #363537;
}

.header-name {
  font-size: 25px;
  color: #A07178;
  display: inline;
}

/* .nav-bar {
  white-space: nowrap;
} */

.nav-ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 10px;
  justify-content: space-between;
  text-align: right;
}

a {
  display: inline;
  list-style: none;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #037971;
}

.about-div {
  max-width: 700px;
  display: block;
  text-align: left;
  margin-left: 20px;
}

.about {
  font-size: 20px;
  display: inline-block;
}

.about-pg {
  font-size: 18px;
  display: inline-block;
}

.photo {
  max-width: 200px;
  max-height: 500px;
}

.contact-div {
  text-align: center;

}

.contact-form {
  display: inline-block;
  text-align: left;
}

.contact-name {
  margin: 10px;
}

.contact-email {
  margin: 10px;
}

.contact-message {
  margin: 10px;
}