* {
  font-family: 'Signika', sans-serif;
  background-color: #edf0da;
  color: #363537;
}

.header-name {
  font-size: 25px;
  color: #A07178;
  display: inline;
}

.nav-ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 20px;
  justify-content: space-between;
  text-align: right;
  font-size: 20px;
}

.nav-link:hover {
  border-radius: 25% 10%;
}

a {
  display: inline;
  list-style: none;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #037971;
  opacity: 75%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.about-div {
  display: block;
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
  width: 50%;
}

.about {
  font-size: 20px;
}

.photo {
  float: right;
  width: 50%;
}

.about-pg {
  font-size: 18px;
}

.proj-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.proj-info {
  margin-left: 40px;
}

.proj-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.proj-link {
  font-style: italic;
}

.photo {
  max-width: 400px;
  max-height: 700px;
  margin-bottom: 10px;
}

.resume-div {
  float: center;
  width: 50%;
}

.resume-ul {
  font-size: 25px;
  margin-bottom: 5px;
}

.resume-ul:hover {
  opacity: 50%;
}

.resume-link {
  font-size: 30px;
  margin-left: 40px;
  padding-left: 20px;
}

.resume-prof {
  font-size: 15px;
}

li {
  margin-left: 45px;
}

.contact-div {
  display: inline-block;
  text-align: left;
  margin-left: 30px;
  width: 75%;
}

.contact-name {
  padding: 10px;
  width: 50%;
}

.name-input {
  width: 100%;
  height: 17px;
}

.contact-email {
  padding: 10px;
  width: 50%;
}

.email-input {
  width: 100%;
  height: 17px;
}

.contact-message {
  padding: 10px;
  width: 50%;
}

.message-input {
  width: 100%;
  height: 50px;
}

.form-button {
  width: 53%;
  height: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45px;
  margin-left: 15px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

