.header-name {
  font-size: 25px;
  color: rgb(83, 83, 206);
  display: inline;
}

.header-section {
  border-bottom: solid black 2px;
}

.mx-1 {
  margin-left: 25px;
  color: pink;
}

.nav-bar {
  white-space: nowrap;
}

.nav-link {
  display: inline;
  list-style: none;
  text-decoration: none;
}

.about-div {
  max-width: 600px;
  display: block;
}

.about {
  font-size: 20px;
}

.about-pg {
  font-size: 18px;
}

.contact-form {
  display: flex;
}